:root {
    --footer-height: 7rem;
    --nav-width: 15rem;
    --nav-collapse-width: 4rem;
    --upgrade-bar-height: 5rem;
    --song-container-width: 13rem;
    --song-container-width-768: 17vw;
    --song-container-width-992: 17vw;   
    --text-primary-color: #727272;
    --text-primary-color-light: #c9c9c9;
    --progressive-bar-lenght: 25%;
}

/* classi root */

.text-primary {color: var(--text-primary-color);}

body {    font-family: 'Montserrat', sans-serif;}

/*********************** SIDE NAVBAR ***********************/

.hidden {display: none;}
nav {
    height: calc(100% - var(--footer-height));
    width: var(--nav-width);
    padding: 16px 0;
    background-color: black;
}
#nav-button .selected {border-left: solid 3px greenyellow;}
#nav-button a {border-left: solid 3px black;}

nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-primary-color);
    padding: 10px 0;
    font-weight: 800;
}
#play-bnav {overflow-y: auto;}
#playlist > a {
    font-size: 0.8rem;
}
#playlist {overflow-y: auto;}
#nav-button img {
    height: 1.5rem;
    filter: invert(0.5);
    margin-right: 8px;
}
#square-plus {
    height: 2.5rem;
    font-size: 2.5rem;
    font-weight: 600;
    background-color: var(--text-primary-color);
}
/* bottom nav */
#bottom-nav {
    height: 6.5rem;
}
#user-pic img {
    height: 2rem;
    width: 100%;
    background-color: var(--text-primary-color);
}
#user-pic {
    height: 2rem;
    width: 2rem;
}

/*********************** UPGRADE BAR ***********************/
#upgrade-bar {
    width: 100%;
    height: var(--upgrade-bar-height);
    background-color: #090b12;
}

#upgrade-button {
    display: inline-block;
    padding: 10px 40px;
    border: 1px solid white;
    border-radius: 25px;
    text-decoration: none;
    color: white;
    margin-right: 16px;
}

/*********************** APP CORE ***********************/
#selector-bar .selected hr {
    color: greenyellow;
    width: 40%;
}
#app-core {
    width: calc(100% - var(--nav-width));
    height: calc(100% - var(--footer-height));
    overflow-y: auto;
    background-color: #141922;
    color: white;
}
#app-core h3 {
    font-weight: 600;
    padding: 16px 0 10px 0;
}
#app-core p {color: var(--text-primary-color);}
#app-core h2 {padding: 6px 0;}
.title-container {
    padding: 20px 0;
}

/* selector bar  */

#selector-bar a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 10px 5px 10px;
    color: grey;
}

/* recently played */

.song-row {
    display: flex;
    gap: 1rem;
}

.song-container {
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;
    width: calc(100% / 6 - 1rem);
}
.play-hoover {
    position: absolute;
    display: none;
    width: var(--song-container-width);
    aspect-ratio: 1;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

/* most popular*/

.circle-pic {
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1;
}
.circle-pic img {
    width: 100%;
}

/*********************** FOOTER ***********************/

footer {
    height: var(--footer-height);
    width: 100%;
    background-color: #282828;
    z-index: 10
}
#middle-container {margin: 0 20px;}
.complete-bar{
    width: 60%;
    background-color: var(--text-primary-color);
    height: 5px;
    border-radius: 3px;
    position: relative;
}
.progressive-bar {
    width: var(--progressive-bar-lenght);
    background-color: var(--text-primary-color-light);
    height: 5px;
    border-radius: 3px;
    border: none;
}
#volume-container, #left-container {
    width: 25%;
}

.icon-container {
    display: flex;
    justify-content: space-between;
    width: 25%;
    gap: 0.5rem;
}
#left-container .icon-container {width: 12%}
.icon-container a {
    text-decoration: none;
    color: var(--text-primary-color);
}

/******************************* HOOVER ******************************************/

.song-container:hover .play-hoover {display: flex;}
.song-container:hover >  img  {filter: brightness(60%);}
#upgrade-button:hover {transform: scale(1.05);}
#selector-bar p:hover {color: white;}
a:hover {color: white;}
#nav-button a:hover >  img {filter: invert(0);}
#create-playlist:hover > #square-plus {background-color: white;}
#create-playlist:hover > a {color: white;}
#ft-title:hover,
#ft-artist:hover {
    color: white;
    text-decoration: underline;
}
.fa-circle-play:hover {transform: scale(1.05);}
.complete-bar:hover > .progressive-bar {background-color: yellowgreen;}
.complete-bar:hover > .progressive-bar::after {
    content: "\2022";
    width: 1rem;
    height: 1rem;
    aspect-ratio: 1;
    background-color: var(--text-primary-color-light);
    color: var(--text-primary-color-light);
    border-radius: 50%;
    position: absolute;
    top: -95%;
    left: calc(var(--progressive-bar-lenght) - 10px);
    display: block;
}
    
/******************************* MEDIA QUERY ******************************************/

@media screen and (max-width:992px) {
    .song-row {
        flex-wrap: wrap;
    }
    .song-container {
        width: calc(100% / 4 - 1rem);
    }
    
}

@media screen and (max-width:768px) {
    
    /* core */

    .song-container {
        width: calc(100% / 3 - 1rem);
    }

    /* footer */

.icon-container {flex-wrap: wrap;}
}


@media screen and (max-width:576px) {

    #app-core {width: calc(100% - var(--nav-collapse-width));}    
    nav {width: 4rem;}
    nav div * {display: none;}
    .hidden {
        display: flex;
        flex-direction: column;
    }
    .hidden img {width: 2rem;}
    .hidden * {
        display: block;
        margin: auto;
        padding-left: 0;
        }
    #bottom-nav {padding-left: 0;}
    #bottom-nav {text-align: center;}

    .song-container {
        width: calc(100% / 2 - 1rem);

    }


}
