:root {
    --footer-height: 90px;
    --nav-width: 200px;
    --upgrade-bar-height: 80px;


}

body {
    font-family: 'Montserrat', sans-serif;}
/*********************** SIDE NAVBAR ***********************/

nav {
    height: calc(100% - var(--footer-height));
    width: var(--nav-width);
    padding: 10px;
    background-color: black;
}
nav > img {
    width: 80%;
}
#nav-button a img {height: 1.5rem;}
#nav-button a,
#playlist a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 6px 0;
}


/*********************** UPGRADE BAR ***********************/
#upgrade-bar {
    width: 100%;
    height: var(--upgrade-bar-height);
  
}

/*********************** APP CORE ***********************/

#app-core {
    width: calc(100% - var(--nav-width));
    height: calc(100% - var(--footer-height));
    overflow-y: auto;
    background-color: #141922;
    color: white;
}
#app-core h3 {
    font-weight: 600;
    padding: 16px 0 10px 0;
}
#app-core p {
    color: grey;
}
#app-core h2 {
    padding: 6px 0;
}
.title-container {
    padding: 20px 0;
}
/* selector bar  */

#selector-bar a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 10px;
    color: grey;
}

/* recently played */

#song-row {
    display: flex;
    flex-wrap: wrap;
}
.song-container img {
}
.song-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    margin: 0.5rem;
    width: 16rem;
}

/* most popular*/

.circle-pic {
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1;
}
.circle-pic img {width: 100%;}
/*********************** FOOTER ***********************/

footer {
    height: var(--footer-height);
    width: 100%;
    background-color: #282828;
}

.complete-bar{
    width: 60%;
    background-color: #5d5d5d;
    height: 5px;
    border-radius: 3px;
}
.progressive-bar {
    width: 15%;
    background-color: #c9c9c9;
    height: 5px;
    border-radius: 3px;
    border: none;
}

#volume-container .complete-bar{
    width: 60%;
    background-color: #5d5d5d;
    height: 5px;
    border-radius: 3px
}
#volume-container .progressive-bar {
    width: 15%;
    background-color: #c9c9c9;
    height: 5px;
    border-radius: 3px;
    border: none;
}